* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding: 24px;
	border-radius: 10px;
}

img {
	max-width: 500px;
	width: 100%;
}

button {
	cursor: pointer;
	padding: 10px;
	font-size: 1rem;
}

