@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", serif;
	overflow-x: hidden;
}

header {
	background-color: #002056;
	display: flex;
	gap: 24px;
	align-items: center;
	padding: 20px;
}

.main-logo {
	width: 170px;
}

header a,
button,
.search-bar input,
select {
	font-family: inherit;
	font-size: 1rem;
}

header a {
	color: white;
	text-decoration: none;
}

.search-bar {
	flex: 1;
	display: flex;
	align-items: stretch;
	height: fit-content;
	border-radius: 5px;
	overflow: hidden;
}

.search-bar input {
	width: 100%;
	font-size: 1rem;
	padding: 15px 15px;
	outline: none;
	border: none;
}

.search-bar button {
	padding: 0 15px;
	background-color: #f17d21;
	border: none;
}

.search-bar button img {
	width: 20px;
}

.cart-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	gap: 1rem;
	align-items: center;
	color: white;
	font-size: 1rem;
	border-left: 1px solid #7a7a7a;
	border-right: 1px solid #7a7a7a;
	padding: 0 24px;
}

.cart-button img {
	width: 1.5rem;
}

main {
	background-color: #fcfcfc;
}

section {
	padding: 20px;
}

nav ul {
	display: flex;
	list-style: none;
	padding: 20px;
	gap: 2rem;
}

nav ul li,
nav ul li select {
	font-weight: 300;
}

nav ul li a {
	color: black;
	text-decoration: none;
}

nav ul li select {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.main-banner {
	width: 100%;
	height: auto;
}

section h2 {
	font-weight: 400;
	font-size: 21px;
}

.categories-card-container {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

.categories-card-container img {
	max-width: 190px;
	border-radius: 50%;
}

.categories-card-container li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	font-size: 15px;
	color: black;
	text-decoration: none;
	font-weight: 600;
}

.categories-card-container li a:hover {
	color: #002056;
}

.exclusive-container ul {
	display: flex;
	gap: 20px;
	list-style: none;
	background-color: white;
}

.exclusive-container ul li {
	flex: 1;
	padding: 1rem;
}

.exclusive-container a {
	text-align: center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	color: black;
}

.exclusive-container img {
	max-width: 215px;
}

.exclusive-container h3 {
	font-size: 14px;
}

.brand {
	font-size: 12px;
}

.price-container {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.now-price {
	display: block;
	font-size: 20px;
	margin-bottom: 5px
}

.before-price {
	color: #AAAAAA;
}

.savings {
	font-size: 17px;
	color: red;
	font-weight: 600;
}